<link href="/css/signin.css" rel="stylesheet">

<form action="/user/signup" method="POST"  class="form-signin" role="form">
  <h2 class="form-signin-heading">Sign up</h2>
  <p>Already have an account? <a href="/login">Log In</a>.</p>
  <input type="text" name="username" class="form-control" placeholder="username" required autofocus>
  <input type="text" name="email" class="form-control" placeholder="Email address" required >
  <input type="password" name="password" class="form-control" placeholder="Password" required>
  <input type="password" name="confirm" class="form-control" placeholder="Confirm Password" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
</form>